# Node
node_modules/
# Env
.env
# Playwright / test artifacts
allure-results/
test-results/

# Local logs / archives
logs/
# IDE / editor
.idea/
*.iml
.vscode/
# Misc
.DS_Store

# Backup folder
BACKUP/

# reports
playwright-report/
reports/
allure-report/
html-report/
junit-results/
junit/results.xml
